<div id="<%= dom_id product_comment %>">
  <p>
    <strong>Product:</strong>
    <%= product_comment.product_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= product_comment.user_id %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= product_comment.comment %>
  </p>

</div>
